# General notes about parsing pandas dataframes

In [2]:
import pandas as pd

## Converting single rows to dictionaries

In [9]:
table = '../config_files/variable_regions/initiation_plamids.RC.tsv'
df = pd.read_csv(table, sep='\t')
df

,name,gc_skew,gc_content,length,at_skew,at_content,cluster_length,cluster_nuc,clustering_method,construct,reverse_complement,role
0,init-1,0.1,0.4,200,NaN,NaN,NaN,NaN,NaN,initiation,1,initiation_region_1
1,init-2,0.4,0.7,200,NaN,NaN,NaN,NaN,NaN,initiation,1,initiation_region_2
2,init-3,0.6,0.6,200,NaN,NaN,NaN,NaN,NaN,initiation,1,initiation_region_3
3,init-4,0.1,0.7,200,NaN,NaN,NaN,NaN,NaN,initiation,1,initiation_region_4
4,init-5,0.0,0.6,200,NaN,NaN,NaN,NaN,NaN,initiation,1,initiation_region_5
...,...,...,...,...,...,...,...,...,...,...,...,...
59,init-28-RC,-0.4,0.6,200,-0.2,NaN,4.0,G,find_available_random_range,termination,1,init-G_clustered
60,init-29-RC,-0.4,0.6,200,-0.4,NaN,1.0,G,find_available_random_range,termination,1,init-G_clustered
61,init-30-RC,-0.4,0.6,200,-0.4,NaN,2.0,G,find_available_random_range,termination,1,init-G_clustered
62,init-31-RC,-0.4,0.6,200,-0.4,NaN,3.0,G,find_available_random_range,termination,1,init-G_clustered
63,init-32-RC,-0.4,0.6,200,-0.4,NaN,4.0,G,find_available_random_range,termination,1,init-G_clustered

In [12]:
for i, row in df.iterrows():
    d = dict(row)
    print(d)
    break

{'name': 'init-1', 'gc_skew': 0.1, 'gc_content': 0.4, 'length': 200, 'at_skew': nan, 'at_content': nan, 'cluster_length': nan, 'cluster_nuc': nan, 'clustering_method': nan, 'construct': 'initiation', 'reverse_complement': 1, 'role': 'initiation_region_1'}